body{
	text-align: center;
	margin: 100px 0;
	background-color: #B0BDB6;
	
}

.title h1{
font-size:22px;
padding: 40px;
font-family: 'Vidaloka', serif;
color:grey;
text-transform: uppercase;
color: #333D38;
} 

.text p{
	font-size:12px;
	padding:10px;
	font-family: 'Raleway', sans-serif;
	color: #333D38;

}